<div class="container">
    <h5 class="text-title">Correo Electrónico:</h5>
    <p class="text-body">emanuel.antonio2211@gmail.com</p>
    <h5 class="text-title">Facebook</h5>
    <a class="text-decoration-none" target="_blank" href="https://www.facebook.com/antoniogogeta"><p class="text-body">Emanuel Cocom Che</p></a>
    <h5 class="text-title">Twitter</h5>
    <a class="text-decoration-none" target="_blank" href="https://twitter.com/emanuelantonio6"><p class="text-body">@emanuelantonio6</p></a>
    <h5 class="text-title">Instagram</h5>
    <a class="text-decoration-none" target="_blank" href="https://www.instagram.com/emanuel_cocom/?hl=es"><p class="text-body"> emanuel_cocom</p></a> 
</div>