<div class="container mt-3">
    <h4>Emanuel Antonio Cocom Che</h4>
    <h5>Ingeniero en Sistemas Computacionales</h5>
    <p>25 años</p>
    <p>Especialidad: Desarrollo de aplicaciones basadas en Web y Móvil</p>
    <p>Lenguajes de programación usados:</p>
    <ul>
        <li>JavaScript</li>
        <li>Java</li>
        <li>Php</li>
        <li>Typescript</li>
        <li>Dart</li>
        <li>C#</li>
    </ul>
    <p>Base de datos usados:</p>
    <ul>
        <li>MySql</li>
        <li>Firebase</li>
        <li>Sqlite</li>
    </ul>
    <p>Frameworks usados:</p>
    <ul>
        <li>Angular</li>
        <li>Ionic</li>
        <li>Flutter</li>
    </ul>
</div>