<div class="container">
    <h3 class="text-center text-title">Proyectos Realizados</h3>
    <div class="row">
        <div class="col">
            <h4 class="text-title">Aplicaciones Móviles</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>Lector de código QR</h5>
            <p class="text-body text-justify">
                Es una aplicación que lee el código QR e identifica si es una dirección URL o son coordenadas de un mapa,
                esta aplicación usa el plugin de mapas de google y el urllaunch para lanzar la dirección URL.
            </p>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="assets/qr/imagen1.PNG" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/qr/imagen2.PNG" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/qr/imagen3.PNG" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/qr/imagen4.PNG" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/qr/imagen5.PNG" class="card-img-top" alt="...">
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <h5 class="text-title">Aplicación de noticias</h5>
            <p class="text-body text-justify">
                Es una aplicación que muestra las noticias al momento, consume un api gratuito del mismo,
                también muestra las noticias por categoría, ya sea por deportes, salud, espectáculos y más.
            </p>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="assets/news/imagen1.PNG" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/news/imagen2.PNG" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/news/imagen3.PNG" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/news/imagen4.PNG" class="card-img-top" alt="...">
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <h5 class="text-title">Aplicación de películas</h5>
            <p class="text-body text-justify">
                Es una aplicación que muestra la información de las películas que están por estrenarse
                en la cartelera, además de mostrarlo por categorías, como las más populares y las que están en cines.
                También tiene una opción de buscar las películas por su nombre, mostrando un historial de sugerencias, y
                cada película muestra la descripción completa en una pantalla de detalles, mostrando tanto la popularidad,
                la fecha de estreno y los actores que participan en esa película.
                En esta aplicación se consume un api de películas.
            </p>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="assets/movie/imagen1.PNG" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/movie/imagen2.PNG" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/movie/imagen3.PNG" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/movie/imagen4.PNG" class="card-img-top" alt="...">
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <h5 class="text-title">Aplicación Selftour</h5>
            <p class="text-body text-justify">
                Es una aplicación que es especialmente para turismo, el cual muestra los tours por categorías, populares,
                recientes y los más recomendados por los usuarios, además de que los usuarios pueden compartir con
                otros un tour en particular por medio de redes sociales y que pueden ganar dinero vendiendo su tour
                a otros usuarios.
                Entre las funcionalidades que tiene la aplicación están:
            </p>
            <ul>
                <li>Notificaciones con chat incluido</li>
                <li>Navegación 3D con mapas</li>
                <li>Pasarelas de pago</li>
                <li>Servicio para compartir información de la aplicación en redes sociales</li>
                <li>Servicio de búsqueda de tours por nombre</li>
                <li>Geolocalización de los tours por mapa</li>
            </ul>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="assets/selftourapp/imagen1.PNG" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/selftourapp/imagen2.PNG" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/selftourapp/imagen3.PNG" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/selftourapp/imagen4.PNG" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/selftourapp/imagen5.PNG" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/selftourapp/imagen6.PNG" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/selftourapp/imagen7.PNG" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/selftourapp/imagen8.PNG" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/selftourapp/imagen9.PNG" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/selftourapp/imagen10.PNG" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/selftourapp/imagen11.PNG" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/selftourapp/imagen12.PNG" class="card-img-top" alt="...">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4 class="text-title">Aplicaciones Web</h4>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <h5 class="text-title">Clon de Spooti</h5>
            <p class="text-body text-justify">
                Muestra las canciones por categorías, ya sean recientes, por géneros o colaboraciones, además de que cada
                canción muestra una pantalla con la información del artista.
                Cada género lleva a una pantalla con una lista de canciones que tiene ese género en particular
            </p>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="assets/spooti/imagen1.PNG" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/spooti/imagen2.PNG" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/spooti/imagen3.PNG" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/spooti/imagen4.PNG" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/spooti/imagen5.PNG" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/spooti/imagen6.PNG" class="card-img-top" alt="...">
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <h5 class="text-title">Aplicación de películas versión Web</h5>
            <p class="text-body text-justify">
                Este es la versión web de la aplicación móvil de películas, en la pantalla de detalles de la
                película muestra el trailer del mismo y en la lista de actores hay botones que permiten
                acceder a la información de cada actor
            </p>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="assets/movie-web/imagen1.PNG" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/movie-web/imagen2.PNG" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/movie-web/imagen3.PNG" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/movie-web/imagen4.PNG" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/movie-web/imagen5.PNG" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/movie-web/imagen6.PNG" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="assets/movie-web/imagen7.PNG" class="card-img-top" alt="...">
            </div>
        </div>
    </div>
</div>